<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    x="0px"
    y="0px"
    viewBox="0 0 1000 1000"
    enable-background="new 0 0 1000 1000"
    xml:space="preserve"
  >
    <g>
      <path
        d="M783.2,731.8c-14.7,14.7-44,14.7-58.7,0c-14.7-14.7-14.7-44,0-58.7L842,550.8h-783c-24.5,0-48.9-24.5-48.9-48.9c0-24.5,24.5-48.9,48.9-48.9h783L724.5,330.5c-14.7-14.7-14.7-44,0-58.7c9.8-9.8,19.6-14.7,29.4-14.7c9.8,0,19.6,4.9,29.4,14.7L979,472.5c14.7,14.7,14.7,44,0,58.7L783.2,731.8z"
      />
    </g>
  </svg>
</template>
