<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    id="Capa_1"
    x="0px"
    y="0px"
    viewBox="0 0 507.31 507.31"
    style="enable-background: new 0 0 507.31 507.31"
    xml:space="preserve"
  >
    <g>
      <path
        style="fill: none"
        d="M443.31,267.312v32.455c5.547,0.616,10.903,1.866,16,3.673v-20.128   C459.31,274.488,452.131,267.312,443.31,267.312z"
      />
      <polygon
        style="fill: #ff7400"
        points="53.252,117.254 58.91,111.596 36.281,88.97 24.968,100.282 47.597,122.909 53.252,117.254     "
      />
      <path
        style="fill: #888693"
        d="M91.311,275.312h-32v31.527c9.647-4.808,20.509-7.527,32-7.527V275.312z"
      />
      <path
        style="fill: #5c546a"
        d="M235.311,257.941c0-2.137,0.836-4.148,2.344-5.66l1.371-1.371l-11.313-11.313l-1.371,1.371   c-4.531,4.531-7.031,10.563-7.031,16.973v1.371h16V257.941z"
      />
      <path
        style="fill: #5c546a"
        d="M203.311,291.312h-32c-4.418,0-8,3.582-8,8v32h40V291.312z"
      />
      <path
        style="fill: #888693"
        d="M459.31,283.312v20.128c5.694,2.019,11.064,4.728,16,8.038v-28.167c0-17.645-14.352-32-32-32v16   C452.131,267.312,459.31,274.488,459.31,283.312z"
      />
      <path
        style="fill: #888693"
        d="M411.31,303.441v-60.128c0,2.24-0.47,4.455-1.38,6.502l-31.999,71.998   c-2.567,5.777-8.296,9.5-14.618,9.5H351.31h-76h-32h-32h-8h-40h-12.167c4.823,7.191,8.37,15.301,10.353,24h81.814h96h25.814   C370.627,331.168,388.286,311.607,411.31,303.441z"
      />
      <path
        style="fill: #d5d9de"
        d="M91.311,331.312c-16.37,0-30.465,9.888-36.65,24h68.65h4.65   C121.776,341.2,107.68,331.312,91.311,331.312z"
      />
      <path
        style="fill: #d5d9de"
        d="M91.311,411.312c16.37,0,30.465-9.888,36.65-24h-73.3C60.845,401.425,74.941,411.312,91.311,411.312   z"
      />
      <path
        style="fill: #b6b8be"
        d="M54.66,355.312c-2.149,4.903-3.35,10.313-3.35,16c0,5.687,1.201,11.097,3.35,16h73.3   c2.149-4.903,3.35-10.313,3.35-16c0-5.687-1.201-11.097-3.35-16h-4.65H54.66z M91.311,379.312c-4.418,0-8-3.582-8-8   c0-4.418,3.582-8,8-8s8,3.582,8,8C99.311,375.731,95.729,379.312,91.311,379.312z"
      />
      <path
        style="fill: #b6b8be"
        d="M435.31,299.312c2.705,0,5.372,0.163,8,0.455v-32.455v-16v-8c0-4.418-3.582-8-8-8h-16   c-4.418,0-8,3.582-8,8v60.128C418.822,300.776,426.897,299.312,435.31,299.312z"
      />
      <path
        style="fill: #5c546a"
        d="M363.313,331.312c6.322,0,12.051-3.723,14.618-9.5l31.999-71.998c0.91-2.047,1.38-4.262,1.38-6.502   v-32c0-9.717-8.664-17.412-18.688-15.781c-7.867,1.28-13.312,8.668-13.312,16.639v27.744l-26.398,59.398H291.31   c-8.834,0-15.975,7.167-15.977,16h-0.023v16h76H363.313z"
      />
      <path
        style="fill: #d5d9de"
        d="M211.311,331.312h32v-70c0-1.104-0.895-2-2-2h-6h-16h-15c-0.552,0-1,0.448-1,1v31v40H211.311z"
      />
      <path
        style="fill: #888693"
        d="M242.056,253.94c6.248,6.248,16.379,6.248,22.627,0l0,0c3.124-3.124,3.124-8.189,0-11.314   l-28.686-28.686c-3.124-3.124-8.189-3.124-11.314,0h0c-6.248,6.249-6.248,16.379,0,22.627l3.03,3.03l11.313,11.313L242.056,253.94z   "
      />
      <path
        style="fill: #ffcf00"
        d="M36.281,88.969c3.124-3.124,3.124-8.189,0-11.314l-5.657-5.657c-6.248-6.249-16.379-6.249-22.627,0   c-6.248,6.248-6.248,16.379,0,22.627l5.657,5.657c3.124,3.124,8.189,3.124,11.314,0l0.001-0.001L36.281,88.969L36.281,88.969z"
      />
      <polygon
        style="fill: #b6b8be"
        points="91.311,267.312 91.311,259.312 59.311,259.312 59.311,267.312 59.311,275.312    91.311,275.312  "
      />
      <path
        style="fill: #5c546a"
        d="M151.144,331.312c-6.967-10.387-16.567-18.858-27.833-24.472V192.566   c0-10.68-4.164-20.727-11.719-28.281l-7.431-7.432l-5.655,5.655l-5.658,5.658l7.431,7.432c4.469,4.469,7.031,10.652,7.031,16.969   v108.56c-5.15-1.174-10.5-1.814-16-1.814c-11.491,0-22.353,2.72-32,7.527c-23.684,11.804-40,36.263-40,64.473   c0,39.699,32.297,72,72,72s72-32.301,72-72h64c8.837,0,16-7.164,16-16l0,0h-81.814   C159.514,346.613,155.967,338.504,151.144,331.312z M131.311,371.312c0,5.687-1.201,11.097-3.35,16   c-6.185,14.112-20.281,24-36.65,24s-30.465-9.888-36.65-24c-2.149-4.903-3.35-10.313-3.35-16c0-5.687,1.201-11.097,3.35-16   c6.185-14.112,20.281-24,36.65-24s30.465,9.888,36.65,24C130.11,360.216,131.311,365.625,131.311,371.312z"
      />
      <circle style="fill: #888693" cx="91.311" cy="371.312" r="8" />
      <path
        style="fill: #d5d9de"
        d="M435.31,411.312c22.057,0,40-17.945,40-40c0-5.152-0.99-10.074-2.772-14.601l-51.829,51.83   C425.236,410.323,430.158,411.312,435.31,411.312z"
      />
      <path
        style="fill: #d5d9de"
        d="M449.911,334.084c-4.527-1.782-9.449-2.771-14.601-2.771c-22.057,0-40,17.945-40,40   c0,5.152,0.99,10.074,2.772,14.601L449.911,334.084z"
      />
      <path
        style="fill: #b6b8be"
        d="M449.911,334.084l-51.829,51.83c4.064,10.326,12.301,18.563,22.627,22.627l51.829-51.83   C468.474,346.385,460.238,338.148,449.911,334.084z M435.31,379.312c-4.418,0-8-3.582-8-8c0-4.418,3.582-8,8-8s8,3.582,8,8   C443.31,375.731,439.729,379.312,435.31,379.312z"
      />
      <path
        style="fill: #5c546a"
        d="M475.31,311.479c-4.936-3.311-10.306-6.019-16-8.038c-5.097-1.808-10.453-3.057-16-3.673   c-2.628-0.292-5.295-0.455-8-0.455c-8.414,0-16.488,1.464-24,4.128c-23.024,8.166-40.683,27.727-46.186,51.872H339.31l0,0   c0,8.836,7.163,16,16,16h8c0,39.699,32.297,72,72,72s72-32.301,72-72C507.31,346.403,494.592,324.411,475.31,311.479z    M475.31,371.312c0,22.055-17.943,40-40,40c-5.152,0-10.074-0.99-14.601-2.771c-10.327-4.065-18.563-12.301-22.627-22.627   c-1.782-4.527-2.772-9.449-2.772-14.601c0-22.055,17.943-40,40-40c5.152,0,10.074,0.99,14.601,2.771   c10.327,4.064,18.563,12.301,22.627,22.627C474.321,361.238,475.31,366.16,475.31,371.312z"
      />
      <circle style="fill: #888693" cx="435.31" cy="371.312" r="8" />
      <path
        style="fill: #d5d9de"
        d="M91.311,243.312c0-4.418-3.582-8-8-8h-16c-4.418,0-8,3.582-8,8v16h32V243.312z"
      />
      <path
        style="fill: #ffcf00"
        d="M98.506,162.508l5.655-5.655l5.658-5.658c1.352-1.352,2.172-3.141,2.32-5.043l5.656-73.539   c0.258-3.336-1.594-6.484-4.633-7.883c-3.031-1.398-6.633-0.758-9,1.613L58.91,111.596l-5.658,5.658L98.506,162.508z"
      />
      <path
        style="fill: #ff9300"
        d="M53.252,117.254L53.252,117.254l-5.655,5.655L2.342,168.164c-2.367,2.367-3.008,5.957-1.609,9   c1.312,2.852,4.156,4.656,7.266,4.656c0.203,0,0.406-0.008,0.617-0.023l73.539-5.656c1.898-0.148,3.688-0.969,5.039-2.32   l5.655-5.655l5.658-5.658L53.252,117.254z"
      />
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
