<script setup lang="ts">
import RoutesList from "@/components/RoutesList.vue";
import RoverMap from "@/components/RoverMap.vue";
import SetGrid from "../components/SetGrid.vue";
</script>

<template>
  <main>
    <RoutesList />
    <RoverMap />
    <SetGrid />
  </main>
</template>
