<script lang="ts">
import { store } from "../application/vue";

export default {
  mounted() {
    this.store.loadRoutes();
  },
  data() {
    return {
      store,
      text: "",
    };
  },
  methods: {
    addRoute() {
      store.addRoute(this.text.toUpperCase());
      this.text = "";
    },
  },
  computed: {
    commands() {
      const result = this.store.routes;
      return result?.join(",") ?? "Loading...";
    },
  },
};
</script>

<template>
  <h2>Routes</h2>
  <div>
    {{ commands }}
  </div>
  <form @submit.prevent="">
    <input type="text" data-test-id="route-input" v-model="text" />
    <button type="submit" data-test-id="route-add-button" @click="addRoute()">
      Add Route
    </button>
    <span v-if="store.addRouteError" class="error">
      {{ store.addRouteError }}
    </span>
  </form>
</template>

<style scoped>
.error {
  margin: 0 4px;
  color: red;
}
</style>
