<script setup lang="ts">
import IconRover from "./icons/IconRover.vue";
import IconArrow from "./icons/IconArrow.vue";
</script>

<script lang="ts">
import { store } from "../application/vue";
import { isPassedPoint } from "../application/selectors";

export default {
  mounted() {
    this.store.loadGridAndPosition();
  },
  data() {
    return {
      store,
      isActive: true,
    };
  },
  methods: {
    addRoute() {
      store.addRoute(this.text);
      this.text = "";
      return false;
    },
  },
  computed: {
    xItems() {
      return [...Array(this.store.grid?.x ?? 0).keys()];
    },
    yItems() {
      return [...Array(this.store.grid?.y ?? 0).keys()].reverse();
    },
  },
};
</script>

<template>
  <h2>Map</h2>
  <div v-if="store.grid" class="grid">
    <div v-for="y in yItems" :key="y" class="row">
      <div class="square">{{ y }}</div>
      <div
        v-for="x in xItems"
        :key="x"
        class="cell square"
        v-bind:class="{
          passed: isPassedPoint(store.points, x, y),
        }"
      >
        <IconRover v-if="x === store.position.x && y === store.position.y" />
        <IconArrow
          v-if="x === store.position.x && y === store.position.y"
          class="arrow"
          v-bind:class="{ [store.position.direction]: true }"
        />
      </div>
    </div>
    <div class="row">
      <div class="square">#</div>
      <div v-for="x in xItems" :key="x" class="square">{{ x }}</div>
    </div>
  </div>
</template>

<style scoped>
.square {
  height: 50px;
  flex: 0 0 50px;
  text-align: center;
  vertical-align: middle;
}
.row {
  display: flex;
}
.cell {
  background-color: white;
  border: 1px solid gray;
}
.cell.passed {
  background-color: hotpink;
}
.arrow {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 24px;
  height: 24px;
  fill: white;
  background-color: violet;
  border-radius: 50%;
  padding: 2px;
}
.arrow.N {
  transform: rotate(270deg);
}
.arrow.W {
  transform: rotate(180deg);
}
.arrow.S {
  transform: rotate(90deg);
}
</style>
