<script lang="ts">
import { store } from "../application/vue";

export default {
  data() {
    return {
      store,
      x: 10,
      y: 10,
    };
  },
  methods: {
    setGrid() {
      store.setGrid(Number(this.x), Number(this.y));
    },
  },
};
</script>

<template>
  <form @submit.prevent="">
    <label for="grid-x">X</label>
    <input type="number" id="grid-x" v-model="x" />
    <label for="grid-y">Y</label>
    <input type="number" id="grid-y" v-model="y" />
    <button type="submit" id="grid-set-button" @click="setGrid()">
      Set Grid
    </button>
  </form>
</template>
